﻿@model WebCore.Models.User.SPUser
@{
    ViewData["Title"] = "사용자 세부정보";
}

<div class="card">
    <div class="card-header">
        <h3>세부정보</h3>
    </div>
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Sabun)</dt>
            <dd class="col-sm-10">@Html.DisplayFor(model => model.Sabun)</dd>
            <dt class="col-sm-2">@Html.DisplayNameFor(model => model.DisplayName)</dt>
            <dd class="col-sm-10">@Html.DisplayFor(model => model.DisplayName)</dd>
            <dt class="col-sm-2">@Html.DisplayNameFor(model => model.JobGrade)</dt>
            <dd class="col-sm-10">@Html.DisplayFor(model => model.JobGrade)</dd>
            <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Corp)</dt>
            <dd class="col-sm-10">@Html.DisplayFor(model => model.Corp)</dd>
            <dt class="col-sm-2">@Html.DisplayNameFor(model => model.General)</dt>
            <dd class="col-sm-10">@Html.DisplayFor(model => model.General)</dd>
            <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Dept)</dt>
            <dd class="col-sm-10">@Html.DisplayFor(model => model.Dept)</dd>
            <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Team)</dt>
            <dd class="col-sm-10">@Html.DisplayFor(model => model.Team)</dd>
            <dt class="col-sm-2">@Html.DisplayNameFor(model => model.EnterDate)</dt>
            <dd class="col-sm-10">@Html.DisplayFor(model => model.EnterDate)</dd>
        </dl>
    </div>
    <div class="card-footer">
        @Html.ActionLink("목록으로", "Index", "User", new { page = ViewData["PageIndex"] ?? 1 }, new { @class = "btn btn-block btn-outline-dark" })
    </div>
</div>
