﻿@model PagedList.Core.IPagedList<WebCore.Models.User.SPUser>
@using WebCore.Pagination;

@{
    ViewData["Title"] = "임직원 검색";
}

<div class="row">
    <div class="col-12">
        <div class="card-header bg-transparent">
            <h4>임직원 검색</h4>
            <form asp-action="Index" method="get" asp-controller="User">
                <div class="form-row">
                    <div class="col-12">
                        <label class="col-form-label">이름</label>
                        <div class="input-group">
                            <input type="text" name="searchString" value="@ViewData["CurrentFilter"]" />
                            <div class="input-group-prepend">
                                <button type="submit" class="btn btn-sm btn-success">검색</button>
                            </div>
                        </div>
                    </div>

                </div>
            </form>
        </div>
        <div class="card-body">
            <div class="row">
                <table class="table">
                    <colgroup>
                        <col style="width:11%;" />
                        <col style="width:15%;" />
                        <col style="width:15%;" />
                        <col style="width:15%;" />
                        <col style="width:10%;" />
                        <col style="width:12%;" />
                        <col style="width:10%;" />
                        <col style="width:12%;" />
                    </colgroup>
                    <thead>
                        <tr class="thead-dark bg-transparent">
                            <th>법인</th>
                            <th>총괄</th>
                            <th>부서</th>
                            <th>팀</th>
                            <th>사번</th>
                            <th>이름</th>
                            <th>직급</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.Corp)</td>
                                <td>@Html.DisplayFor(modelItem => item.General)</td>
                                <td>@Html.DisplayFor(modelItem => item.Dept)</td>
                                <td>@Html.DisplayFor(modelItem => item.Team)</td>
                                <td>@Html.DisplayFor(modelItem => item.Sabun)</td>
                                <td>@Html.DisplayFor(modelItem => item.DisplayName)</td>
                                <td>@Html.DisplayFor(modelItem => item.JobGrade)</td>
                                <td>
                                    <a href="@Url.Action("Detail","User",new { sabun = item.Sabun, pageIndex = Model.PageNumber })" class="btn btn-sm btn-outline-info">
                                        <i class="fas fa-search"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="text-nowrap">
                @Model.FirstItemOnPage 부터 @Model.LastItemOnPage 까지 (총 @Model.TotalItemCount 개)
            </div>
            <div class="text-nowrap float-right m-0">
                <pager list="@Model" options="@SitePagedListRenderOptions.Bootstrap4Full" asp-action="Index" asp-controller="User"></pager>
            </div>
        </div>
    </div>
</div>